body {
    background: #0f1626;
    font-family: sans-serif;
}

* { box-sizing: border-box; }


.Main {
    background-color: #F5F5F5;
    position: relative;
   /* padding-top: 50px;*/
}

.Main__index {
    height: 698px;  
    position: relative; 
}

.Header__nav {
    background-color: #0f1626; 
}

.brand-logo {
    margin-left: -100px;
}

.bold {
    font-weight: bold;
    font-style: "Roboto", sans-serif;
}

.Copyright  {
    margin-top: -8px;
    margin-left: -100px;
    background-color: #080b14;
    padding: 20px;
    bottom: 0;
}

.Form-submit {
    float: right;
}

.row .Chart {
/*    border: 1px solid grey;*/
    width: 50%;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 10px;

}

/*Index.html -*/
.hero-btn {
    margin: 10px;
}

h1 {
  margin-top: 100px;

}

h2 {
  color: #231F20;
  font-size: 25px;
  text-align: center;
  padding-top: 10px
}

h3 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

h5 {
    color: #0f1626;
}

li {
    color: #AB987A;
}

.fa {
    color: #FF533D;
}

.main-banner-image {
  width: 100%;
  margin-top: 58px;
}

input[type="text"], textarea {
  color: #0f1626; 
}

/*Questionnaire*/


.checkbox-leather.filled-in[type="checkbox"] + label:after{
    border: 2px solid #231F20;
    background: transparent;
}
.checkbox-leather.filled-in[type="checkbox"]:checked + label:after{
    border: 2px solid #AB987A;
    background: #AB987A;
}

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #EAEAEA;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #AB987A;
   }

 

   




