body {
    background: #000;
}

* { box-sizing: border-box; }


body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #F5F5F5;
  margin-top: 70px;
}

/* clear fix */
.grid:after {
  content: '';
  display: table;
  clear: both;
}


/* ---- .element-item ---- */

/* 5 columns, percentage width */

.grid-item {
  float: left;
  background: #AB987A;
  border: 1px solid black;
}

.grid-item--rectangle {
    width: 400px;
    height: 150px;
}

.grid-item--horizontal {
    width: 274px;
    height: 300px;
}

.grid-item--smallhorizontal {
    width: 274px;
    height: 147px;
}

.grid-item--small {
    width: 150px;
    height: 150px;
}

.grid-item--extrasmall {
    width: 100px;
    height: 100px;
}

.grid-item--large {
    width: 556px;
    height: 300px;
}

.grid-item--square {
    width: 300px;
    height: 454px;
}

.grid-happycouple {
  background-image: url('../assets/couple.jpeg');
}

.Main {
    background-color: #F5F5F5;
    padding-top: 50px;
}

.Header__nav {
    background-color: #0f1626; 
}

.brand-logo {
    margin-left: -100px;
}

.Form-submit {
    float: right;
}

#myChart--pie {
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
}

#myChart--polar {
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
}

#myChart--radar {
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto;
}

.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}


.Copyright  {
    margin-left: -100px;
    background-color: #080b14;
    padding: 20px;
    bottom: 0;
}

.Chart{
    border: 1px solid black;
    width: 80%;
    margin: 15px auto;
}

h5 {
    color: #0f1626;
  
}

li {
    color: #AB987A;
}

.fa {
    color: #FF533D;
}


input[type="text"], textarea {
  color: #0f1626; 
}





